@{
    ViewBag.Title = "Doodle Something";
}

<div data-bind="with: loading">Loading...</div>
<div style="display: none" data-bind="visible: true">
    <div id="body">
        <header>
            <h3>@Html.ActionLink("Doodle Something", "Index", "Home", new { area = "" }, null)</h3>
        </header>

        <div id="main-content">
            <div data-bind="foreach: errors">
                <p class="error" data-bind="text: $data"></p>
            </div>            
            
            <div>
                <!-- ko with: todo -->
                @Html.Partial("_Todo")
                        <!-- /ko -->
                        <!-- ko with: login -->
                        @Html.Partial("_Login")
                                <!-- /ko -->
                                <!-- ko with: register -->
                                @Html.Partial("_Register")
                                        <!-- /ko -->
                                        <!-- ko with: registerExternal -->
                                        @Html.Partial("_RegisterExternal")
                                                <!-- /ko -->
                                                <!-- ko with: manage -->
                                                @Html.Partial("_Manage")
                                                        <!-- /ko -->
                                                    </div>
            <div>
              
                <div id="userSettings" data-bind="with: user">                    
                    <h3><a href="#" data-bind="click: logOff">Log off</a> &nbsp; &nbsp; <b><span data-bind="text: name, click: manage"></span></b></h3>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/todo")
}
